<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>

<%= javascript_pack_tag 'pages' %>
<%= stylesheet_pack_tag 'pages' %>
